vhtfm/public/js/lib/*
vhtfm/public/js/vhtfm/misc/tests/*
vhtfm/public/js/vhtfm/views/test_runner.js
vhtfm/core/doctype/doctype/boilerplate/*
vhtfm/core/doctype/report/boilerplate/*
vhtfm/public/js/vhtfm/class.js
vhtfm/templates/includes/*
vhtfm/www/website_script.js
